In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

raw = pd.read_csv('T2-Group1 - missingdata (1).csv')
                  
raw

,Condition,Cylinder heating zone 1,Cylinder heating zone 4,Maximum injection pressure,Mould temperature control unit 1,Cycle time,Cylinder heating zone 5,Injection time,Cylinder heating zone 2,Dosage time,Cylinder heating zone 3,Switch-over volume,Material cushion
0,Normal1,271.52,316.14,1506.14,92.63,29.860,317.33,0.234,300.76,2.986,313.86,1.48334,0.958447
1,Normal1,271.19,320.24,1452.35,91.95,30.138,302.82,0.234,301.67,3.008,299.54,1.36334,0.959772
2,Normal1,283.09,307.25,1474.93,87.64,28.566,306.27,0.234,286.21,3.098,309.44,1.38334,0.919388
3,Normal1,269.67,298.81,1546.73,94.44,27.786,318.56,0.224,285.23,3.048,306.52,1.51334,0.936952
4,Normal1,290.22,312.94,1598.14,94.31,29.836,324.73,0.244,302.07,2.998,310.10,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,Condition3,287.71,315.92,1609.08,91.61,29.406,325.23,0.228,303.94,2.824,308.70,1.68397,1.034150
127,Condition3,277.99,NaN,1535.26,88.95,29.768,313.96,0.238,297.07,2.896,322.40,1.60397,0.991890
128,Condition3,268.84,311.97,1526.63,91.04,29.418,322.40,0.228,300.23,2.916,295.28,1.87397,1.071890
129,Condition3,288.93,304.01,1475.82,89.96,29.208,320.37,0.238,309.84,3.016,313.65,1.63397,0.995290
130,Condition3,286.02,310.98,1559.94,85.80,30.268,322.77,0.228,287.57,2.746,301.75,1.86397,0.993960

In [16]:
print('There are',len(raw),'records.') #print rows

There are 131 records.

In [17]:
print('There are',len(raw.iloc[0]),'columns.') #print columns

There are 13 columns.

In [18]:
Nraw = raw[raw['Condition'] ==  "Normal1"] #inner condition returns T/F for each row, then saves T rows in new df

C3raw = raw[raw['Condition'] ==  "Condition3"] 

C4raw = raw[raw['Condition'] ==  "Condition4"]

In [7]:
print('There are',len(Nraw),'records in Normal 1 condtion')
print('There are',len(C3raw),'records in Condition 3 condtion')
print('There are',len(C4raw),'records in Condition 4 condtion')

There are 50 records in Normal 1 condtion
There are 40 records in Condition 3 condtion
There are 41 records in Condition 4 condtion

In [8]:
#df.isnull()                                                  labels every cell as T if it is null, F if otherwise
#df.sum()                                                     sums every entry for each column
#df.isnull().sum()                                            sums every null for each column
#df.isnull().sum().sum()                                      sums the sum from every row -> counts all nulls
print('Null count breakdowns for:\n', sep='\n')

print('Normal:' , Nraw.isnull().sum() , sep='\n') #by default, print() appends a ' ' after each 'text' segment
print('\nCondition 3:' , C3raw.isnull().sum() , sep='\n') #sep='\n' replaces that with a new line instead for readability
print('\nCondition 4:' , C4raw.isnull().sum() , sep='\n')

Null count breakdowns for:

Normal:
Condition                           0
Cylinder heating zone 1             2
Cylinder heating zone 4             2
Maximum injection pressure          2
Mould temperature control unit 1    3
Cycle time                          2
Cylinder heating zone 5             2
Injection time                      3
Cylinder heating zone 2             2
Dosage time                         2
Cylinder heating zone 3             2
Switch-over volume                  3
Material cushion                    3
dtype: int64

Condition 3:
Condition                           0
Cylinder heating zone 1             2
Cylinder heating zone 4             3
Maximum injection pressure          2
Mould temperature control unit 1    2
Cycle time                          2
Cylinder heating zone 5             2
Injection time                      2
Cylinder heating zone 2             2
Dosage time                         2
Cylinder heating zone 3             2
Switch-over volume                  2
Material cushion                    2
dtype: int64

Condition 4:
Condition                           0
Cylinder heating zone 1             2
Cylinder heating zone 4             2
Maximum injection pressure          2
Mould temperature control unit 1    2
Cycle time                          2
Cylinder heating zone 5             2
Injection time                      2
Cylinder heating zone 2             2
Dosage time                         2
Cylinder heating zone 3             2
Switch-over volume                  3
Material cushion                    2
dtype: int64

In [9]:
#df.iloc[[0,-1]].isnull().sum().sum()     ->      sums the total number of null values in the first and last rows of df

print('Number of null values in the first and last rows of the different conditions are:' , sep='\n')
print('Normal :',Nraw.iloc[[0,-1]].isnull().sum().sum())
print('Condition 3 :',C3raw.iloc[[0,-1]].isnull().sum().sum())
print('Condition 4 :',C4raw.iloc[[0,-1]].isnull().sum().sum())

# Since the null values are not found in the first or last records of the 3 different condtions, we can account forward and backward fill
# forward fill, backward fill

Number of null values in the first and last rows of the different conditions are:
Normal : 0
Condition 3 : 0
Condition 4 : 0

In [19]:
nullrecordsN = []                                              # finds all the nulls in df and stores it in
nullrecordsC3 = []                                                  # a list of lists nullrecords
nullrecordsC4 = []

for col in range(len(Nraw.iloc[0])):                       
    for record in range(len(Nraw)):
        if pd.isnull(Nraw.iloc[record][col]) == True:
            nullrecordsN.append([record,col])
            
for col in range(len(C3raw.iloc[0])):                       
    for record in range(len(C3raw)):
        if pd.isnull(C3raw.iloc[record][col]) == True:
            nullrecordsC3.append([record,col])
            
for col in range(len(C4raw.iloc[0])):                       
    for record in range(len(C4raw)):
        if pd.isnull(C4raw.iloc[record][col]) == True:
            nullrecordsC4.append([record,col])

In [20]:
#works because nullrecords is built in ascending order of column of nan values, not records of nan values
for i in range(len(nullrecordsN)-1):
    if (nullrecordsN[i][1] == nullrecordsN[i+1][1]) and (nullrecordsN[i][0]+1 == nullrecordsN[i+1][0]):
        print('Consecutive nulls detected in Nraw')

for i in range(len(nullrecordsC3)-1):
    if (nullrecordsC3[i][1] == nullrecordsC3[i+1][1]) and (nullrecordsC3[i][0]+1 == nullrecordsC3[i+1][0]):
        print('Consecutive nulls detected in C3raw')

for i in range(len(nullrecordsC4)-1):
    if (nullrecordsC4[i][1] == nullrecordsC4[i+1][1]) and (nullrecordsC4[i][0]+1 == nullrecordsC4[i+1][0]):
        print('Consecutive nulls detected in C4raw')
        
#testrecords = [[1,1],[4,1],[4,2],[3,5],[4,5]]           FOR TESTING. The last 2 coords will trigger print function
                                                         # Again, the list must be built in ascending column values           
#for i in range(len(testrecords)-1):
    #if (testrecords[i][1] == testrecords[i+1][1]) and (testrecords[i][0]+1 == testrecords[i+1][0]):
        #print('Consecutive nulls detected')

In [12]:
# The last 3 lines check for nulls in /1: first and last rows\ and /2: consecutive records in the same column\
# Since no errors were raised, we can safely interpolate/backwardfill/forwardfill safely
# At this point, data checking is complete.
# We can now proceed to data preprocessing (filling up the null values via interpolate)

In [13]:
# Using pandas' built in function to fill null values with interpolation
Nfilled = Nraw.interpolate()
C3filled = C3raw.interpolate()
C4filled = C4raw.interpolate()

In [14]:
dd=pd.concat([Nfilled,C4filled,C3filled]) # concatenate the 3 dataframes after filling in the null values
dd

,Condition,Cylinder heating zone 1,Cylinder heating zone 4,Maximum injection pressure,Mould temperature control unit 1,Cycle time,Cylinder heating zone 5,Injection time,Cylinder heating zone 2,Dosage time,Cylinder heating zone 3,Switch-over volume,Material cushion
0,Normal1,271.52,316.140,1506.14,92.63,29.860,317.33,0.234,300.76,2.986,313.86,1.48334,0.958447
1,Normal1,271.19,320.240,1452.35,91.95,30.138,302.82,0.234,301.67,3.008,299.54,1.36334,0.959772
2,Normal1,283.09,307.250,1474.93,87.64,28.566,306.27,0.234,286.21,3.098,309.44,1.38334,0.919388
3,Normal1,269.67,298.810,1546.73,94.44,27.786,318.56,0.224,285.23,3.048,306.52,1.51334,0.936952
4,Normal1,290.22,312.940,1598.14,94.31,29.836,324.73,0.244,302.07,2.998,310.10,1.52334,0.914964
...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,Condition3,287.71,315.920,1609.08,91.61,29.406,325.23,0.228,303.94,2.824,308.70,1.68397,1.034150
127,Condition3,277.99,313.945,1535.26,88.95,29.768,313.96,0.238,297.07,2.896,322.40,1.60397,0.991890
128,Condition3,268.84,311.970,1526.63,91.04,29.418,322.40,0.228,300.23,2.916,295.28,1.87397,1.071890
129,Condition3,288.93,304.010,1475.82,89.96,29.208,320.37,0.238,309.84,3.016,313.65,1.63397,0.995290
130,Condition3,286.02,310.980,1559.94,85.80,30.268,322.77,0.228,287.57,2.746,301.75,1.86397,0.993960

In [21]:
dd=dd[["Condition","Cylinder heating zone 1", "Cylinder heating zone 2", "Cylinder heating zone 3", "Cylinder heating zone 4", "Cylinder heating zone 5", "Mould temperature control unit 1", "Maximum injection pressure", "Cycle time", "Injection time", "Dosage time", "Switch-over volume", "Material cushion"]]
# adjust to coordinate cylinder heating zone timing

In [22]:
dd['Cylinder heating zone 1']=dd['Cylinder heating zone 1'].round(2) #round all the parameters for easier calculation in statistical analysis
dd['Cylinder heating zone 2']=dd['Cylinder heating zone 2'].round(2)
dd['Cylinder heating zone 3']=dd['Cylinder heating zone 3'].round(2)
dd['Cylinder heating zone 4']=dd['Cylinder heating zone 4'].round(2)
dd['Cylinder heating zone 5']=dd['Cylinder heating zone 5'].round(2)
dd['Mould temperature control unit 1']=dd['Mould temperature control unit 1'].round(2)
dd['Maximum injection pressure']=dd['Maximum injection pressure'].round(2)
dd['Cycle time']=dd['Cycle time'].round(3)
dd['Injection time']=dd['Injection time'].round(3)
dd['Dosage time']=dd['Dosage time'].round(3)
dd['Switch-over volume']=dd['Switch-over volume'].round(5)
dd['Material cushion']=dd['Material cushion'].round(6)

In [23]:
dd.to_csv(r'Proj1ReorderedRound.csv', index=False) # export new csv after preprocessing to be used for visualisations